.sourceCode {
  resize: none;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  line-height: 1.5em;
}
.sidila-button {
  display: inline-block;
  font-weight: bold;
}
.message {
  background-color: rgb(238, 238, 238);
  color: black;
  padding: .2em;
  margin: .2em;
  font-weight: bolder;
}
.canvas {
  display: inline-block !important;
  width: 70%;
}
@media only screen and (max-width: 768px) {
  .canvas {
    width: 100%;
  }
  .sourceCode {
    resize: none;
    width: 40ch;
  }
}
.paletteCanvas {
  display: inline-block !important;
  width: 70%;
}
.editorCanvas {
  display: inline-block !important;
  width: 70%;
}

.errorMessage {
  display: none;
  color: red;
  resize: none;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: .8em;
  line-height: 1em;
}