.source-code {
  resize: none;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  line-height: 1.5em;
}
.sidila-button {
  display: inline-block;
  font-weight: bold;
}
.message {
  background-color: rgb(238, 238, 238);
  color: black;
  padding: .2em;
  margin: .2em;
  font-weight: bolder;
}
.canvas {
  display: inline-block !important;
  width: 50% !important;
}
.instructions {
  display: inline-block !important;
  width: 50% !important;
  font-size: .8em;
  float: right;
}